version: '3.7'

services:
  database:
    image: postgres
    container_name: database_ignite
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=jsnulvonmktoqbtb
      - POSTGRES_DB=fin_api_db
    volumes:
      - .:/data/postgres
  app:
    build: .
    container_name: fin_api
    env_file:
      - .env
    ports:
      - 8080:8080
    links:
      - database
    depends_on:
      - database

  pgadmin-compose:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: 'placeholder@example.com'
      PGADMIN_DEFAULT_PASSWORD: 'fakepassword123!'
    ports:
      - '16543:80'
    depends_on:
      - database

  migration-check:
    build: .
    env_file:
      - .env
    links:
      - database
    depends_on:
      - database
    command: ['./check-database-status.sh']

volumes:
  pgdata:
    driver: local
